---
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import PostList from '../../components/PostList.astro';
import Layout from '../../layouts/Layout.astro';
import { getEntry } from 'astro:content';

export const getStaticPaths = async () => {
	const posts = await getCollection('posts');
	const paths = posts.map((post) => {
		return {
			params: {
				slug: post.data.url,
			},
			props: {
				post,
			},
		};
	});
	return paths;
};

const { slug } = Astro.params;
const post = await getEntry('posts', slug);

if (!post) {
	return Astro.redirect('/404');
}
const { Content } = await render(post);
---

<Layout title={post.data.title}>
	<Main>
		<H1 text={post.data.title} />
		<a href={`/blog/${post.data.url}`} aria-label={`Read more about ${post.data.title}`}>
			<Image
				src={post.data.image}
				alt={post.data.title}
				width={1024}
				height={600 / 1.5}
				format="webp"
				class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
			/>
		</a>

		<div class="prose prose-2xp overflow-visible relative mb-20">
			<Content />
		</div>
		<PostList />
	</Main>
</Layout>
